{{ define "main" }}
<br class="py-2">


<div class="container-fluid pb-5">
    <h1 id="title" class="text-center text-white bg-primary pb-2 mb-4">{{ .Title }}</h1>

    {{- partial "hero.html" . -}}

    <div class="container col-xxl-9">
        <h2 class="text-center text-white bg-primary pb-2 mb-4">{{ .Title }}</h2>
        <div class="row mb-4">
            <div class="col-md-4 order-2 order-md-1">
                <h3 class="text-center">Table of Contents</h3>
                {{.TableOfContents}}
            </div>
            <img src="{{.Params.featuredimage}}" class="img-fluid rounded col-md-8 order-1 order-md-2" alt=""
                style="object-fit: cover;">
        </div>
        <div class="text-center text-md-start">
            {{ .Content }}
        </div>
    </div>
</div>

{{- partial "contact.html" . -}}

{{ end }}