<div class="card-footer bg-info border border-primary">
    <h2 class="text-center">Apply Now</h2>
    <div class="row d-md-flex d-block justify-content-evenly align-items-center">
        <div class="col-md-5">
            <p class="text-center">Step 1: Pay the Application Fees (INR&nbsp;500/-)</p>
            <button type="button" class="btn btn-primary btn-lg text-center d-block mx-auto">Pay Now</button>
        </div>
        <i class="bi bi-arrow-right d-none d-md-inline-block col-md-2 text-center"></i>
        <div class="col-md-5">
            <p class="text-center">Step 2: Fill in Application form using transaction info</p>
            <button type="button" class="btn btn-primary btn-lg text-center d-block mx-auto">Fill Form</button>
        </div>
    </div>
</div>