<div class="container mt-4" id="aboutkmh">
    <h2 class="text-center display-4 pb-2">About Dr.Kamakshi Memorial Group of Hospitals </h2>
    <h3 id="vision">Vision</h3>
    <p>To serve, and deliver every patient, ‘the ultimate’ quality of health care service with utmost excellence and
        devotion, as we care for our loved ones.</p>
    <h3 id="mission-and-values-">Mission and Values:</h3>
    <ol>
        <li>Commitment and personal responsibility in every patient’s wellness</li>
        <li>Inventiveness and furtherance in every aspect of medical services.</li>
        <li>Ethical and reliable in every act of work.</li>
    </ol>
    <p>Dr.Kamakshi Memorial Hospital is a 300 bedded multi-super speciality hospital at Pallikaranai, Chennai,
        established
        in 2005. It is situated in a sprawling 60 grounds land with 75000 Sq.ft building. The guiding principle of the
        hospital is to offer the latest in health care facilities on Par with international standards (obviating the
        need to
        go abroad for treatment) and also make them available to increasing numbers of our population. To meet the
        stringent
        demands of quality health care the services of several talented and dedicated medical professionals (both within
        the
        country and overseas) has been and a huge investment made in infrastructure and medical equipment. </p>
    <p>Apart from its outpatient and daycare service, the hospital caters to all strata of people by offering inpatient
        services in general wards, non a/c, a/c rooms, deluxe and super deluxe rooms. The hospital has five
        well-equipped
        intensive care units, one of them exclusively for cardiac and post-cardiac surgery patients. The hospital has
        seven
        major theatres and one minor theatre. </p>
    <h3 id="department-of-radiology-and-imaging-sciences">Department of Radiology and Imaging sciences</h3>
    <p>The department of Radiology and Imaging Sciences is fully equipped with Digital Radiography, Mammography, Bone
        Mineral Densitometer, Ultra sonogram, Multislice CT scanner and 1.5 Tesla MRI scanner. All interventional
        procedures
        are carried out at ease in the department. The cardiac catheterization lab is equipped with the latest GE Optima
        IGS
        320 machine in which all cardiac interventions are carried out.
        Department Laboratory Sciences
        The NABL accredited laboratory is fully computerized and it is an automated laboratory, equipped to perform 3000
        unique investigations spanning across </p>
    <ul>
        <li>Clinical Biochemistry</li>
        <li>Pathology</li>
        <li>Cytology</li>
        <li>Serology</li>
        <li>Microbiology</li>
        <li>Hematology</li>
        <li>Molecular Biology, and</li>
        <li>Histopathology.</li>
    </ul>
    <p>Transfusion Medicine (Blood bank) deals with the transfusion of compatible blood and its components. It also
        involves
        the study of blood groups, blood requirement of patients and thereby providing safe transfusion for needy
        patients.
    </p>
    <p>Exclusive machine for plasma separation – Aphaeresis is an added feather to the cap of the transfusion
        department.
        The department of offers an active round the clock service meeting up to the NACO standards, emphasizing
        hygienic
        and infection-free blood transfusion. Each unit of blood and blood component is tested for HIV, Hepatitis B,
        Hepatitis C, Syphilis and Malaria.</p>
    <h3 id="department-of-radiation-oncology-and-medical-physics">Department of Radiation Oncology and Medical Physics
    </h3>
    <p>The Department of radiation oncology is headed by a team of Radiation Oncologists, Surgical oncologists, Medical
        oncologists and Medical Physicists. The aim is to provide focused and comprehensive oncology care. Dr Kamakshi
        Memorial Hospital believes that treating the whole person; mind, body and spirit, instead of the disease, may
        pay
        better outcome.
        To enable the patients to receive the most technologically advanced Radiation therapy, the hospital has brought
        in
        the state-of-the-art “Primus” Digital Linear Accelerator (Siemens) with the capability of generating dual-energy
        photons (6MV and 15MV X-rays) and electrons of six energies initially (2005). Elekta (Synergy) linear
        Acceleration
        was added later with a Multi-leaf collimator, with multiple energies (2009). 3D-conformal Radiation therapy,
        intensity-modulated radiation therapy (IMRT), Image-guided radiation therapy (IGRT) has revolutionized western
        countries in the treatment of cancer, which is also available at the Dr Kamakshi memorial hospital. The hospital
        also has a High Dose Rate (HDR) Brachytherapy which is another form of radiotherapy. It will provide
        Intracavitary,
        surface mould, Intraluminal and interstitial implant treatment at an affordable cost. </p>
</div>