<div class="container-fluid col-xxl-9">
    <h2 id="aboutKMISR" class="text-center py-2 my-2 my-md-4 bg-warning">About Dr.&nbsp;Kamakshi Institute of Medical
        Science and
        Research</h2>
    <figure class="figure d-block mx-auto">
        <picture>
            <source media="(max-width: 380px)" srcset="/images/about-kmisr-360x120.webp" type="image/webp">
            <source media="(max-width: 380px)" srcset="/images/about-kmisr-360x120.jpg" type="image/jpg">
            <source media="(max-width: 560px)" srcset="/images/about-kmisr-550x288.webp" type="image/webp">
            <source media="(max-width: 560px)" srcset="/images/about-kmisr-550x288.jpg" type="image/jpg">
            <source media="(min-width: 561px)" srcset="/images/about-kmisr-1200x400.webp" type="image/webp">
            <img src="/images/about-kmisr-1200x400.jpg" class="figure-img img-fluid rounded mx-auto d-block"
                alt="A view of KMISR" loading="lazy">
        </picture>
        <figcaption class="figure-caption text-center">Dr.&nbsp;Kamakshi Institute of Medical Science and Research
        </figcaption>
    </figure>
    <p class="bg-info">The Dr.&nbsp;Kamakshi Institute of Medical Sciences & Research (KIMSR) was established in the
        year 2010 by
        Dr.T.G.Govindarajan with a vision of generating required human resources for the healthcare industry. It is a
        unique
        academic institution that is committed to academic excellence. The institute is an additional facility of Dr.
        Kamakshi
        Memorial Hospital Pvt. Ltd., founded in 2005, with a vision “to serve and deliver every patient with the
        ultimate
        excellence and devotion, as we care for our loved ones”. The hospital is a 300 bedded Multi Super Specialty
        hospital at
        Pallikaranai, situated in the southern part of Chennai, spread over 60 ground land and 75000 square ft building
        area.</p>
    <p>The KIMSR is affiliated with the Tamil Nadu Dr. M. G. R Medical University under the allied health sciences
        stream. The various courses conducted are BSc Radiography and Imaging Technology (RIT), BSc Radiotherapy
        technology (RTT), and BSc Medical Laboratory Technology (MLT). The courses are of 4-year duration, including a
        3-year course and a one-year internship. The departments are headed by highly experienced teachers with rich
        clinical experience as well as in technology. The RIT and RTT courses are duly approved by Atomic Energy
        Regulatory Board, Govt. of India, so that our students can work throughout India. As of 2019, 185 students have
        graduated, including 118 from Radiography and Imaging Technology, 52 from Radiotherapy technology and 15 from
        Medical laboratory Technology. All the students have got good placement both in India and abroad and earning
        several thousand to lakhs INR as a perk.</p>
    <p>The KIMSR is also conducting Diploma in National board courses (DNB,2011) on Radiodiagnosis and Family medicine
        and so far 11 candidates have successfully passed the DNB courses and all are well employed. The institute is
        also approved by Anna University, Chennai, as an R&D institute, to conduct research on Medical physics
        speciality. At present, 3 students are presuming their PhD program in the University. In addition, the institute
        offers implant training, short and long term training programs for Engineering, Nursing, Medical physics
        students of various other institutions and colleges in and around Chennai. In Medical Physics itself, about 48,
        35, 8 students of various Universities have completed their
        implant training, project dissertation and one-year internship, respectively.
    </p>
    <p>Recently, the institute has started M.Sc., Radiology and Imaging Technology course under Tamil Nadu Dr. M.G.R
        Medical University, and many more such courses are in the pipeline. Similarly, few more DNB courses will be
        started shortly on rare specialities.</p>
    <div class="row g-4 mt-4 d-block d-md-flex justify-content-evenly">
        <div class="card col-md-4 border-3 border-primary bg-light" id="mission">
            <div class="card-header bg-transparent">
                <h3 class="text-center text-primary">Mission</h3>
            </div>
            <div class="card-body">
                <p>Dr. Kamakshi Institute of Medical Sciences and Research aims at improving health and lifestyle of
                    various communities by offering excellent education and training programs in allied health sciences.
                </p>
            </div>
        </div>
        <div class="card col-md-4 border-3 border-primary bg-light" id="vision">
            <div class="card-header bg-transparent">
                <h3 class="text-center text-primary">Vision</h3>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item bg-transparent">
                        <strong>Highly effective</strong> and innovative educational and training programs.
                    </li>
                    <li class="list-group-item bg-transparent">
                        <strong>Excellence</strong> in consistently achieving outstanding levels of performance while
                        upholding the highest standards of ethical behavior, intellectual honesty and professional
                        conduct.
                    </li>
                    <li class="list-group-item bg-transparent">
                        <strong>Innovation</strong> in promoting creativity and the development of ideas that stimulate
                        improvement in our intellectual and operational endeavors.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid col-xxl-9">
    <h3 class="text-center bg-warning my-2 my-md-4">Facilites</h3>
    <div class="shadow-lg p-2 pb-md-4 mb-md-4">
        <h4 class="text-center mb-2 mb-md-4 display-4" id="hands-on-training">
            Hands on Training
        </h4>
        <div class="row justify-content-evenly align-items-center mb-2 mb-md-4">
            <div class="col-md-6">
                <picture>
                    <source media="(max-width: 380px)" srcset="/images/hands-on-training-360x216.webp"
                        type="image/webp">
                    <source media="(max-width: 380px)" srcset="/images/hands-on-training-360x216.jpg" type="image/jpg">
                    <source media="(min-width: 381px)" srcset="/images/hands-on-training-500x300.webp"
                        type="image/webp">
                    <img src="/images/hands-on-training-500x300.jpg" class="h-100 w-100"
                        alt="students preparing for hands-on training" loading="lazy" style="object-fit: cover;">
                </picture>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <ul class="list-group list-group-flush col-md-6">
                        <li class="list-group-item bg-transparent">Linear accelerator</li>
                        <li class="list-group-item bg-transparent">Pet CT Scan</li>
                        <li class="list-group-item bg-transparent">CT Scan 16 slice</li>
                        <li class="list-group-item bg-transparent">1.5 MRI</li>
                        <li class="list-group-item bg-transparent">Doppler</li>
                        <li class="list-group-item bg-transparent">Ultrasound</li>
                    </ul>
                    <ul class="list-group list-group-flush col-md-6">
                        <li class="list-group-item bg-transparent">Digital Radiography</li>
                        <li class="list-group-item bg-transparent">Mammogram</li>
                        <li class="list-group-item bg-transparent">State of the art CathLab</li>
                        <li class="list-group-item bg-transparent">HDR Brachytherapy</li>
                        <li class="list-group-item bg-transparent">Dual Energy Linear Accelerator</li>
                        <li class="list-group-item bg-transparent">Blood Bank</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 justify-content-evenly mb-2 mb-md-4">
        <div class="col mb-2">
            <div class="card h-100 p-md-2 border-3 border-primary bg-light" id="class-room">
                <picture>
                    <source media="(max-width: 380px)" srcset="/images/classroom-360x188.webp" type="image/webp">
                    <source media="(max-width: 380px)" srcset="/images/classroom-360x188.jpg" type="image/jpg">
                    <source media="(min-width: 381px)" srcset="/images/classroom-550x288.webp" type="image/webp">
                    <img src="/images/classroom-550x288.jpg" class="card-img-top mb-3"
                        alt="a person in a labcoat looking at a chest xray" loading="lazy">
                </picture>
                <h4 class="card-title text-center text-primary">
                    Class Room
                </h4>
                <div class="card-body">
                    Aesthetically designed class rooms with Audio &amp; Visual facilities. They are fully air
                    Conditioned (A/c). The college also has an auditorium, well-equipped laboratories and a cafeteria to
                    support the students and staff. It also offers students <em>hostel facilities within the campus.
                    </em>Only for DNB</p>
                </div>
            </div>
        </div>
        <div class="col mb-2">
            <div class="card p-md-2 h-100 border-3 border-primary bg-light" id="staff">
                <picture>
                    <source media="(max-width: 380px)" srcset="/images/staff-360x188.webp" type="image/webp">
                    <source media="(max-width: 380px)" srcset="/images/staff-360x188.jpg" type="image/jpg">
                    <source media="(min-width: 381px)" srcset="/images/staff-550x288.webp" type="image/webp">
                    <img src="/images/staff-550x288.jpg" class="card-img-top mb-3"
                        alt="a person in a labcoat looking at a chest xray" loading="lazy">
                </picture>
                <h4 class="card-title text-center text-primary">
                    Staff
                </h4>
                <div class="card-body">
                    Highly qualified and experienced teachers conduct classes in this Institute.
                </div>
            </div>
        </div>
        <div class="col mb-2">
            <div class="card p-md-2 h-100 border-3 border-primary bg-light" id="library">
                <picture>
                    <source media="(max-width: 380px)" srcset="/images/library-360x188.webp" type="image/webp">
                    <source media="(max-width: 380px)" srcset="/images/library-360x188.jpg" type="image/jpg">
                    <source media="(min-width: 381px)" srcset="/images/library-550x288.webp" type="image/webp">
                    <img src="/images/library-550x288.jpg" class="card-img-top mb-3"
                        alt="a person in a labcoat looking at a chest xray" loading="lazy">
                </picture>
                <h4 class="card-title text-center text-primary">
                    Library
                </h4>
                <div class="card-body">
                    Well-stocked library with numerous books is at the disposal of the students for reference and
                    further reading.The books are updated continuously. Online e-Journals are also provided for the
                    students
                </div>
            </div>
        </div>
        <div class="col mb-2">
            <div class="card p-md-2 h-100 border-3 border-primary bg-light" id="laboratory">
                <picture>
                    <source media="(max-width: 380px)" srcset="/images/laboratory-360x188.webp" type="image/webp">
                    <source media="(max-width: 380px)" srcset="/images/laboratory-360x188.jpg" type="image/jpg">
                    <source media="(min-width: 381px)" srcset="/images/laboratory-550x288.webp" type="image/webp">
                    <img src="/images/laboratory-550x288.jpg" class="card-img-top mb-3"
                        alt="a person in a labcoat looking at a chest xray" loading="lazy">
                </picture>
                <h4 class="card-title text-center text-primary">
                    Laboratory
                </h4>
                <div class="card-body">
                    A well-equipped laboratory is maintained for all departments. Sophisticated instruments and
                    apparatus are used by our trainees and research scholars.
                </div>
            </div>
        </div>
    </div>
</div>