<div class="container-fluid my-4 border-top border-bottom border-3 border-black">
    <h2 class="text-center display-4 mb-4">Afilliations</h2>
    <div class="row d-flex justify-content-around mb-4">
        <a href="http://www.bssve.in/" class="col-md-3 text-decoration-none">
            <div class="card border-0 text-center border-0 text-center">
                <img src="/images/bsqs.png" class="card-img-top px-4" alt="Bharat Sevak Samaj Logo" loading="lazy">
                <div class="card-body">
                    <h3 class="card-title h5">Bharat Sevak Samaj</h3>
                </div>
            </div>
        </a>
        <a href="https://www.tnmgrmu.ac.in/" class="col-md-3 text-decoration-none">
            <div class="card  border-0 text-center">
                <img src="/images/mgr.png" class="card-img-top px-4" alt="Dr.M.G.R Medical University Logo"
                    loading="lazy">
                <div class="card-body">
                    <h3 class="card-title h5">Tamil Nadu Dr MGR Medical University</h3>
                </div>
            </div>
        </a>

        <a href="https://www.natboard.edu.in/" class="col-md-3 text-decoration-none">
            <div class="card border-0 text-center">
                <img src="/images/nbe.png" class="card-img-top px-4" alt="National Board of Examinations"
                    loading="lazy">
                <div class="card-body">
                    <h3 class="card-title h5">National Board of Examinations</h3>
                </div>
            </div>
        </a>

    </div>
</div>