<div class="container-fluid my-4 border-top border-bottom border-3 border-black">
    <h2 class="text-center display-4 mb-4">Afilliations</h2>
    <div class="card-group d-flex justify-content-around mb-4">
        <a href="http://www.bssve.in/" class="col-md-3 text-decoration-none">
            <div class="card border-0 text-center border-0 text-center">
                <picture>
                    <source srcset="/images/bsqs.webp" type="image/webp">
                    <img src="/images/bsqs.jpg" class="card-img-top px-4" alt="Bharat Sevak Samaj Logo" loading="lazy"
                        style="">
                </picture>
                <div class="card-body">
                    <h3 class="card-title h5">Bharat Sevak Samaj</h3>
                </div>
            </div>
        </a>
        <a href="https://www.tnmgrmu.ac.in/" class="col-md-3 text-decoration-none">
            <div class="card border-0 text-center">
                <picture>
                    <source srcset="/images/mgr.webp" type="image/webp">
                    <img src="/images/mgr.jpg" class="card-img-top px-4" alt="Dr.M.G.R Medical University Logo"
                        loading="lazy">
                </picture>
                <div class="card-body">
                    <h3 class="card-title h5">The Tamil Nadu Dr MGR Medical University</h3>
                </div>
            </div>
        </a>

        <a href="https://www.natboard.edu.in/" class="col-md-3 text-decoration-none">
            <div class="card border-0 text-center">
                <picture>
                    <source srcset="/images/nbe.webp" type="image/webp">
                    <img src="/images/nbe.jpg" class="card-img-top px-4" alt="National Board of Examinations"
                        loading="lazy">
                </picture>
                <div class="card-body">
                    <h3 class="card-title h5">National Board of Examinations</h3>
                </div>
            </div>
        </a>

    </div>
</div>