<div id="chairman-s-message" class="container p-4 shadow-lg">
<h2 class="text-center display-4 pb-4">Chairman&#39;s Message</h2>
<div class="float-md-end m-4">
    <figure class="figure text-white" style="background-color: #6F3C8D;">
        <img src="https://www.drkmh.com/images/executive/dr-t-g-govindarajan.jpg" class="figure-img img-fluid rounded"
            alt="Photograph of Dr TG Govindarajan" loading="lazy">
        <figcaption class="figure-caption text-center text-white">
            <bold>Dr TG Govindarajan</bold></br>
            <span>Chairman and Managing Director</br>
                Dr. Kamakshi Memorial Hospital Pvt. Ltd.</br>
                Dr.Kamakashi Institute of Medical Sciences and Research
            </span>
        </figcaption>
    </figure>
</div>
<p class="pt-4">My dear students, parents, families, staff and alumni,</p>
<blockquote class="">
    <p>We cannot always build the future for our youth, but we can build our youth for the future</p>
    <p>-- <cite>Franklin D Roosevelt </cite></p>
</blockquote>
<p>I believe in certain values of life; honesty, equality, Justice, dedication, courage, loyalty, Integration and
    Commitment. These qualities are inbuilt within all of us. You have to only join Dr. Kamakshi Institute of Medical
    Sciences and Research to bring out the above-said qualities and to expertise and identify the innate talents within
    you.</p>
<p>To follow the footsteps of my teaches and great medical professionals, we should follow the following tenets:</p>
<ol>
    <li>The safety, esteem and welfare of your patients come first every time</li>
    <li>Safety, esteem and welfare of your Command comes next</li>
    <li>Safety, self-esteem and welfare of your own come last.</li>
</ol>
<p>Our constant endeavour is to create an ambience in the campus propitious for the academic development of the
    students. The Institution is a “Smoke-Free Zone” and strict discipline is maintained within the campus. We firmly
    believe in excellence and discipline, which is not an act, but a habit working as perhaps catalysts and facilitators
    of development. Blessed are also the parents who have sent their wards to our prestigious institution, which would
    be the envy of many because this institution imports the kinds of knowledge and education which many of us strive
    for. Our strong desire is to provide a comprehensive educational system rather than just producing graduates. I can
    proudly say that our students will graduate with good knowledge and values. I extend my best wishes to all those
    seeking admission to this institution and assure all of them that their stay in this institution will be highly
    rewarding, both academically and spiritually.</p>
</div>