<div class="container-fluid" id="contact">
    <h2 class="text-center bg-primary text-white">Contact Us</h2>
    <div class="row d-md-flex justify-content-evenly align-items-stretch">
        <div class="col-md-5" id="map">
                    {{- partial "location_gmap.html" . -}}
        </div>
        <div class="col-md-5">
            <div class="card bg-light border-primary text-center">
                <div class="card-header">
                    <h3 class="text-primary">
                        We're eager to hear from you
                    </h3>
                </div>
                <address class="card-body">
                    <h3 class="card-title text-center">
                        Address        
                    </h3>
                    <p class="card-text">
                        Academic Administrative Office, <br/>
                        Building 4th Floor, <br/> 
                        Dr.Kamakshi Memorial Hospital Campus, <br/> 
                        No:1 Radial Road,Pallikaranai, <br />
                        Chennai-600100, <br />
                        Tamilnadu, India
                    </p>
                </address>
                <div class="card-footer">
                    {{- partial "contact-buttons.html" . -}}
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="card-body">
    {{with .Site.Params.telephone}}
    <div class="btn-group mb-2 mx-2" role="group">
        <a href="tel:{{.}}" class="btn btn-outline-dark btn-lg">
            <i class="bi bi-telephone"></i>
        </a>
        <a href="tel:{{.}}" class="btn btn-outline-dark btn-lg">
            <span class="">{{.}}</span>
        </a>
    </div>
    {{end}}
    {{with .Site.Params.email}}
    <div class="btn-group mb-2 mx-2" role="group">
        <a href="mailto:{{.}}" class="btn btn-outline-dark btn-lg">
            <i class="bi bi-envelope"></i>
        </a>
        <a href="mailto:{{.}}" class="btn btn-outline-dark btn-lg">
            <span class="">{{.}}</span>
        </a>
    </div>
    {{end}}
    {{with .Site.Params.facebookurl}}
    <div class="btn-group mb-2 mx-2" role="group">
        <a href="{{.}}" class="btn btn-outline-dark btn-lg">
            <i class="bi bi-facebook"></i>
        </a>
        <a href="{{.}}" class="btn btn-outline-dark btn-lg">
            <span class="">{{.}}</span>
        </a>
    </div>
    {{end}}
    {{with .Site.Params.instagramurl}}
    <div class="btn-group mb-2 mx-2" role="group">
        <a href="{{.}}" class="btn btn-outline-dark btn-lg">
            <i class="bi bi-instagram"></i>
        </a>
        <a href="{{.}}" class="btn btn-outline-dark btn-lg">
            <span class="">{{.}}</span>
        </a>
    </div>
    {{end}}
</div>
-->