<div class="container-fluid my-5">
    <h3 class="text-center py-5 text-white" style="background-color: #6F3C8D;">Courses</h3>
    <div class="card-group">
        <div class="card p-md-2 border-3 border-info" id="class-room">
            <img src="/images/40 - DIALYSIS NB-temp.jpg" class="card-img-top mb-3" alt="" loading="lazy">
            <h4 class="card-title text-center mb-3">
                Bachelor of Science Programs
            </h4>
            <p class="card-subtitle text-center mb-3"><strong>Duration:</strong> 3 Years + 1-year internship</p>
            <ul class="card-body list-group list-group-flush">
                <li class="list-group-item">Radiography and Imaging Technology</li>
                <li class="list-group-item">Medical Laboratory Technology</li>
                <li class="list-group-item">Radiotherapy Technology</li>
            </ul>
            <div class="card-footer bg-transparent">
                <ul class="list-group list-group-numbered"> <strong>Eligiblity</strong>
                    <li class="list-group-item">
                        Candidate shall be completed the age of 17 years on or before 31st December of the year of admission to the course. 
                    </li>
                    <li class="list-group-item">
                        The Maximum age limit for admission is 30 years on or before 31st December of the year of admission to the course.
                    </li>
                    <li class="list-group-item">
                        He/She has passed the H.S.C / (10+2) or equivalent Examination from a recognized board / University in India with Minimum aggregate of 50 % Marks in Physics, Chemistry and Biology/ Botany + Zoology provided the candidate has passed in each subject separately.
                    </li>
                </ul>
            </div>
        </div>
        <div class="card p-md-2 border-3 border-info" id="class-room">
            <img src="/images/40 - DIALYSIS NB-temp.jpg" class="card-img-top mb-3" alt="" loading="lazy">
            <h4 class="card-title text-center mb-3">
                Masters of Science Programs
            </h4>
            <p class="card-subtitle text-center mb-3"><strong>Duration:</strong> 2 Years</p>
            <ul class="card-body list-group list-group-flush">
                <li class="list-group-item">Radiography and Imaging Technology</li>
            </ul>
            <div class="card-footer bg-transparent">
                <ul class="list-group list-group-numbered"> <strong>Eligiblity</strong>
                    <li class="list-group-item">
                        The student should have completed the age 21 years on or before 31st December of the year of admission to the course.
                    </li>
                    <li class="list-group-item">
                        Bachelor of Radiology / Radiography and Imaging Technology or its equivalent (3years + 1 year of Internship) from a UGC recognized University with Minimum 50% Marks or CGPA of 5.0
                    </li>
                    <li class="list-group-item">
                        Candidates who are Physically fit and Mentally sound to undergo the academic course and does not suffer from any intellectual disability or contagious disease.
                    </li>
                </ul>
            </div>
        </div>
        <div class="card p-md-2 border-3 border-info" id="class-room">
            <img src="/images/40 - DIALYSIS NB-temp.jpg" class="card-img-top mb-3" alt="" loading="lazy">
            <h4 class="card-title text-center mb-3">
                Diploma Programs
            </h4>
            <p class="card-subtitle text-center mb-3"><strong>Duration:</strong> 2 Years</p>
            <ul class="card-body list-group list-group-flush">
                <li class="list-group-item">Dialysis Technology</li>
                <li class="list-group-item">Medical Laboratory Technology</li>
                <li class="list-group-item">Hospital Documentation and Records Management</li>
                <li class="list-group-item">Physiotherapy and Activity Therapy</li>
            </ul>
            <div class="card-footer bg-transparent">
                <ul class="list-group list-group-numbered"> <strong>Eligiblity</strong>
                    <li class="list-group-item">
                        A PASS in 10th / +2 of any State Board Study with Minimum of 45% with English as a Compulsory Subject
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>