<div class="container-fluid col-xxl-9">
    <h3 class="text-center mb-2 mb-md-4 py-2 bg-primary text-white" id="courses">Courses</h3>
    <div class="row row-cols-1 row-cols-md-3 d-flex justify-content-evenly">
        <div class="col mb-2">
            <div class="card h-100 p-md-2 border-3 border-primary bg-light" id="bsc">
                <picture>
                    <source media="(max-width: 380px)" srcset="/images/undergraduate-360x188.webp" type="image/webp">
                    <source media="(max-width: 380px)" srcset="/images/undergraduate-360x188.jpg" type="image/jpg">
                    <source media="(min-width: 381px)" srcset="/images/undergraduate-550x288.webp" type="image/webp">
                    <img src="/images/undergraduate-550x288.jpg" class="card-img-top mb-3"
                        alt="a girl with a backpack in a library with her thumbs up" loading="lazy">
                </picture>
                <h4 class="card-title text-center mb-3 text-primary">
                    Bachelor of Science Programs
                </h4>
                <p class="card-subtitle text-center mb-3"><strong>Duration:</strong> 3 Years + 1 year internship</p>
                <div class="card-footer list-group list-group-flush bg-white">
                    <a href="/bachelors-of-science/radiology-imaging-bachelors"
                        class="bg-transparent list-group-item list-group-item-action">Radiography and Imaging
                        Technology</a>
                    <a href="/bachelors-of-science/laboratory"
                        class="bg-transparent list-group-item list-group-item-action">Medical
                        Laboratory Technology</a>
                    <a href="/bachelors-of-science/radiotherapy"
                        class="bg-transparent list-group-item list-group-item-action">Radiotherapy
                        Technology</a>
                </div>
            </div>
        </div>
        <div class="col mb-2">
            <div class="card h-100 p-md-2 border-3 border-primary bg-light" id="msc">
                <picture>
                    <source media="(max-width: 380px)" srcset="/images/postgraduate-360x188.webp" type="image/webp">
                    <source media="(max-width: 380px)" srcset="/images/postgraduate-360x188.jpg" type="image/jpg">
                    <source media="(min-width: 381px)" srcset="/images/postgraduate-550x288.webp" type="image/webp">
                    <img src="/images/postgraduate-550x288.jpg" class="card-img-top mb-3"
                        alt="a person in a labcoat looking at a chest xray" loading="lazy">
                </picture>
                <h4 class="card-title text-center mb-3 text-primary">
                    Master of Science Programs
                </h4>
                <p class="card-subtitle text-center mb-3"><strong>Duration:</strong> 2 Years</p>
                <div class="card-footer list-group list-group-flush bg-white">
                    <a href="/masters-of-science/radiology-imaging-masters"
                        class="bg-transparent list-group-item list-group-item-action">Radiography and Imaging
                        Technology</a>
                </div>
            </div>
        </div>
        <div class="col mb-2">
            <div class="card h-100 p-md-2 border-3 border-primary bg-light" id="diploma">
                <picture>
                    <source media="(max-width: 380px)" srcset="/images/diploma-lab-360x188.webp" type="image/webp">
                    <source media="(max-width: 380px)" srcset="/images/diploma-lab-360x188.jpg" type="image/jpg">
                    <source media="(min-width: 381px)" srcset="/images/diploma-lab-550x288.webp" type="image/webp">
                    <img src="/images/diploma-lab-550x288.jpg" class="card-img-top mb-3"
                        alt="a person in a labcoat looking at a chest xray" loading="lazy">
                </picture>
                <h4 class="card-title text-center text-primary mb-3">
                    Diploma Programs
                </h4>
                <p class="card-subtitle text-center mb-3"><strong>Duration:</strong> 2 Years</p>
                <div class="card-footer list-group list-group-flush bg-white">
                    <a href="/diploma/dialysis" class="bg-transparent list-group-item list-group-item-action">Dialysis
                        Technology</a>
                    <a href="/diploma/laboratory-diploma"
                        class="bg-transparent list-group-item list-group-item-action">Medical Laboratory Technology</a>
                    <a href="/diploma/documentation"
                        class="bg-transparent list-group-item list-group-item-action">Hospital Documentation and Records
                        Management</a>
                    <a href="/diploma/physiotherapy"
                        class="bg-transparent list-group-item list-group-item-action">Physiotherapy and Activity
                        Therapy</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card h-100 p-md-2 border-3 border-primary bg-light" id="dnb">
        <h4 class="text-primary text-center mb-3">
            Diplomate of National Board DNB- Broad Specialty
        </h4>
        <div class="row align-content-stretch">
            <div class="col-md-5">
                <picture>
                    <source media="(max-width: 380px)" srcset="/images/dnb-360x188.webp" type="image/webp">
                    <source media="(max-width: 380px)" srcset="/images/dnb-360x188.jpg" type="image/jpg">
                    <source media="(min-width: 381px) and (orientation: landscape)" srcset="/images/dnb-500x620.webp"
                        type="image/webp">
                    <source media="(min-width: 381px) and (orientation: landscape)" srcset="/images/dnb-500x620.webp"
                        type="image/webp">
                    <source media="(min-width: 381px) and (orientation: portrait)" srcset="/images/dnb-550x288.webp"
                        type="image/webp">
                    <img src="/images/dnb-550x288.jpg" class="h-100 w-100"
                        alt="a person in a labcoat looking at a chest xray" loading="lazy" style="object-fit: cover;">
                </picture>
            </div>
            <div class="col-md-7">
                <div class="">
                    <div class="list-group list-group-flush bg-white">
                        <a href="/dnb-programs/pg-diploma"
                            class="bg-transparent list-group-item list-group-item-action">
                            <div>
                                <h5>Post MBBS</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="bg-transparent list-group-item">DNB Radio Diagnosis - 3 Years</li>
                                    <li class="bg-transparent list-group-item">DNB Family Medicine - 3 Years</li>
                                    <li class="bg-transparent list-group-item">DNB Anaesthesiology - 3 Years</li>
                                </ul>
                            </div>
                            <hr>
                            <div>
                                <h5>Post Diploma</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="bg-transparent list-group-item">DNB Radio Diagnosis - 2 Years</li>
                                    <li class="bg-transparent list-group-item">DNB Family Medicine - 2 Years</li>
                                    <li class="bg-transparent list-group-item">DNB Anaesthesiology - 2 Years</li>
                                </ul>
                            </div>
                            <hr>
                            <div>
                                <h5>Diplomate of National Board DNB- Diploma Courses</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="bg-transparent list-group-item">DGO- Obstetrics and Gynecology – 2 years
                                    </li>
                                    <li class="bg-transparent list-group-item">DA – Anaethesiology – 2 Years</li>
                                    <li class="bg-transparent list-group-item">DCH – Paediatric – 2 Years</li>
                                    <li class="bg-transparent list-group-item">DMRD – Radio Diagnosis – 2 Years</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>