<div class="container-fluid px-lg-5 pb-5 mb-5">
    <div class="row d-block d-md-flex align-items-stretch justify-content-between">
        <div class=" col-md-6 card border-0 mb-2">
            <div class="card-header border-0">
                <h1 class=" text-center mb-2">Dr.&nbsp;Kamakshi Institute of Medical Science and Research</h1>
                <p class="card-subtitle text-center">AERB Recognised Center</p>
            </div>
            <div class="card-body">
                <h2 class="card-title text-center">
                    Admissions Open For 2021-22
                </h2>
                <p class="lead">Dr.&nbsp;Kamakshi Institute of Medical Sciences and Research announces the opening of
                    Admissions for the academic 2021-22. Interested Candidates aspiring for UG, PG and Diploma courses
                    may pay the application fee by clicking the link below, fill up the application form online with
                    payment details and submit the same. Selected candidates will be informed by with further
                    instructions.</p>
            </div>
            <div class="card-footer">
                <a onclick="return gtag_report_conversion('https://forms.zohopublic.in/kmhinstitute/form/KMISR2021ApplicationForm/formperma/mEmrVioWKgd4zVFDMyj3JjzsAWCW68NHHlW81euFGYs');"
                    type="button"
                    href="https://forms.zohopublic.in/kmhinstitute/form/KMISR2021ApplicationForm/formperma/mEmrVioWKgd4zVFDMyj3JjzsAWCW68NHHlW81euFGYs"
                    class="btn btn-primary btn-lg text-center d-block mx-auto">Apply Now</a>
            </div>
        </div>
        <div class="col-md-6">
            {{ partial "prospectus-form.html" . }}
        </div>

    </div>
</div>