<!-- Change or deletion of the name attributes in the input tag will lead to empty values on record submission-->
<form
    action='https://forms.zohopublic.in/kmhinstitute/form/RequestforProspectus/formperma/L5zzPYDpLG28E9MbaUc_O5WC1JDmHQFcIt7D8hqwSsU/htmlRecords/submit'
    name='form' id='form' method='POST' accept-charset='UTF-8' enctype='multipart/form-data'
    class="card border border-3 border-primary bg-light">
    <h2 class="card-header text-center my-2 border-0 bg-transparent ">Get 2021-22 Digital Prospectus</h2>
    <div class="px-4 py-4">
        <div class="row mb-3">
            <div class="col-md-6 mb-3">
                <input type="text" maxlength="255" name="Name_First" fieldType=7 class="form-control"
                    placeholder="First Name *" aria-label="First name" required />
            </div>
            <div class="col-md-6 mb-3">
                <input type="text" maxlength="255" name="Name_Last" fieldType=7 class="form-control"
                    placeholder="Last Name *" aria-label="Last name" required />
            </div>
        </div>
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email Address <em>*</em></label>
            <input type="email" maxlength="255" name="Email" value="" fieldType=9 name="Email" value="" fieldType=9
                class="form-control" id="inputEmail" aria-required="true" required />
        </div>
        <div class="mb-3">
            <label for="inputPhone" class="form-label">Phone Number <em>*</em></label>
            <input type="text" compname="PhoneNumber" name="PhoneNumber_countrycode" phoneFormat="1"
                isCountryCodeEnabled=false maxlength="20" value="" fieldType=11
                id="international_PhoneNumber_countrycode" class="form-control" id="inputPhone" aria-required="true"
                required />
        </div>
    </div>
    <div class="card-footer bg-transparent border-0">
        <button type="submit" class="btn btn-warning btn-lg d-block mx-auto">Submit</button>
    </div>
</form>

<!-- 
<form class="card border border-3 border-primary bg-light"
    action='https://forms.zohopublic.in/kmhinstitute/form/RequestforProspectus/formperma/L5zzPYDpLG28E9MbaUc_O5WC1JDmHQFcIt7D8hqwSsU/htmlRecords/submit'
    name='form' id='form' method='POST' accept-charset='UTF-8' enctype='multipart/form-data'>
    <h2 class="card-header text-center my-2 border-0 bg-transparent ">Get 2021-22 Digital Prospectus</h2>
    <div class="px-4 py-4">
        <div class="row mb-3">
            <div class="col-md-6 mb-3">
                <input type="text" class="form-control" placeholder="First name" aria-label="First name" required
                    maxlength="255" name="Name_First" fieldType=7>
            </div>
            <div class="col-md-6 mb-3">
                <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" required
                    maxlength="255" name="Name_Last" fieldType=7>
            </div>
        </div>
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="inputEmail" aria-required="true" required maxlength="255"
                name="Email" value="" fieldType=9>
        </div>
        <div class="mb-3">
            <label for="inputPhone" class="form-label">Phone Number</label>
            <input type="tel" class="form-control" id="inputPhone" aria-required="true" required compname="PhoneNumber"
                name="PhoneNumber_countrycode" phoneFormat="1" isCountryCodeEnabled=false maxlength="20" value=""
                fieldType=11>
        </div>
    </div>
    <div class="card-footer bg-transparent border-0">
        <button type="submit" class="btn btn-warning btn-lg d-block mx-auto"
            onclick="return gtag_report_conversion('https://forms.zohopublic.in/kmhinstitute/form/RequestforProspectus/formperma/L5zzPYDpLG28E9MbaUc_O5WC1JDmHQFcIt7D8hqwSsU/htmlRecords/submit')">Submit</button>
    </div>
</form>
-->