{{ define "main" }}

{{- partial "mobile-logo.html" . -}}

<h1 class="bg-warning text-center mb-2">Dr.&nbsp;Kamakshi Institute of Medical Science and Research</h1>
<p class="card-subtitle text-center bg-primary text-white mb-2">AERB Recognised Center</p>

{{- partial "hero.html" . -}}

{{- partial "courses.html" . -}}

{{- partial "aboutKMISR.html" . -}}

{{- partial "chairman-message.html" . -}}

{{- partial "affiliations.html" . -}}

{{- partial "aboutKMH.html" . -}}

{{- partial "contact.html" . -}}

{{ end }}